rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /images/{userId}/{image} {
      allow read, write: if request.auth.uid == userId;
    }
    match /filteredImages/{userId}/{image} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
